#login {
    background-image: url(../img/wallpaper.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#home {
    background-image: url(../img/wallpaper2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: -50px;
}

#banner{
    padding-bottom: 30px;
}

#banner img{
    width: 100%;
    margin-top: -200px;
}

#banner h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 120px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    z-index: 1;
  }

#home1 {
    background-color: white;
    border-radius: 10px;
}

#logo1 span {
    color: rgb(69, 178, 255);
}

#logo2 span {
    color: rgb(98, 179, 255);
}

#banners1 {
    margin-left: -60%;
}

#banners2 {
    margin-right: -60%;
}

#banners1 img {
    border-radius: 15px;
    margin-bottom: 40px;
}

#banners2 img {
    border-radius: 15px;
    margin-bottom: 40px;
}

#masimg img {
    width: 70%;
    border-radius: 10px;
}

#grafico {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grafico canvas{
    margin-top: 30px;
}

#formproduct{
    padding-left: 100px;
    padding-right: 100px;
    text-align: start;
}